.app-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
  padding: var(--paddings-m);
}

.app-heading {
  font-weight: 700;
  text-align: center;
  font-size: var(--font_sizes-max);
  margin-bottom: var(--paddings-s);
  margin-top: var(--paddings-xl);
}

.app-byline {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: var(--font_sizes-s);
  text-transform: uppercase;
  color: var(--colors-text_light);
  letter-spacing: 1px;
  margin-bottom: var(--paddings-xl);
}