:root {
  /*
  It is good practise to keep all theme related constants in a
  central place. Try to use this file to define all colors,
  spacings, etc. and reference them within the app
   */

  --colors-text_light: #aaabbb;
  --colors-app_background: #f4f4f4;
  --colors-brand: #00b3e0;
  --colors-grey_dark: #c3c5c7;

  --border_radiuses-small: 4px;
  --border_radiuses-medium: 6px;

  --font_sizes-xs: 13px;
  --font_sizes-s: 16px;
  --font_sizes-m: 20px;
  --font_sizes-l: 24px;
  --font_sizes-xl: 30px;
  --font_sizes-xxl: 38px;
  --font_sizes-max: 45px;

  --paddings-xxs: 6px;
  --paddings-xs: 10px;
  --paddings-s: 20px;
  --paddings-m: 30px;
  --paddings-l: 50px;
  --paddings-xl: 80px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font_sizes-m);
  background: var(--colors-app_background);
  font-family: Lato, Arial, sans-serif;
}

a {
  color: var(--colors-brand);
}