.home-wrapper {
  overflow: hidden;
}

.home-restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--paddings-s));
  margin-right: calc(-1 * var(--paddings-s));
}

.spinner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50%;
}