.info_block-block {
  display: flex;
  flex-direction: column;
}

.info_block-label {
  font-size: var(--font_sizes-m);
  margin-bottom: 5px;
  color: var(--colors-text_light);
}

.info_block-value {
  font-size: var(--font_sizes-xl);
}