.restaurant_card-card {
  display: flex;
  width: calc(33.33% - 40px);
  background-color: white;
  margin: 20px;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  align-items: center;
  min-height: 130px;
  cursor: pointer;
  justify-content: flex-start;
  overflow: hidden;
  transition: box-shadow 250ms ease-out;
}

.restaurant_card-card:hover {
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.12);
}

.restaurant_card-name {
  font-size: var(--font_sizes-m);
  font-weight: bold;
}

.restaurant_card-image {
  width: 33.33%;
  height: auto;
}

.restaurant_card-imageEmpty {
  width: 33.33%;
  height: 100%;
  background: var(--colors-grey_dark);
}

.restaurant_card-rating {
  width: 100%;
}

.restaurant_card-caption {
  padding: 10px;
  width: 60%;
}

.restaurant_card-link {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
}

.favouriteBttn {
  background: none;
  text-align: right;
  border: none;
  font-size: 1.7rem;
}