.restaurant_view-restaurant {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  max-height: 700px;
  border-radius: var(--border_radiuses-small);
  border: 4px solid white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.restaurant_view-blocker {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 24, 29, 0.24);
}

.restaurant_view-close {
  position: absolute;
  right: 8px;
  top: 10px;
  line-height: 15px;
  color: white;
  font-size: var(--font_sizes-xxl);
  cursor: pointer;
}

.restaurant_view-close:hover {
  opacity: 0.8;
}

.restaurant_view-image {
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.05);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: blur(25px) contrast(0.85) saturate(1.25);
}

.restaurant_view-content {
  background: white;
  padding: var(--paddings-l);
  overflow-y: scroll;
}

/* my additions */

.restaurant_view-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.restaurant_view-info {
  width: 50%;

}

.restaurant-reviews {
  overflow-y: scroll;

}

.restaurant-review-totals {
  font-size: var(--font_sizes-m);
  color: var(--colors-text_light);
}

/* end my additions */

.restaurant_view-info>*+* {
  margin-top: var(--paddings-l);
}

.restaurant_view-imageWrapper {
  border-radius: var(--border_radiuses-small) var(--border_radiuses-small) 0;
  overflow: hidden;
  position: absolute;
  height: 200px;
  flex-shrink: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.restaurant_view-imageWrapper--default {
  background-color: var(--colors-grey_dark);
}

.restaurant_view-imageWrapper--thumb {
  background-color: black;
}

.restaurant_view-headerContent {
  display: flex;
  height: 200px;
  align-items: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  justify-content: left;
  color: white;
  margin: 0 var(--paddings-l);
}

.restaurant_view-name {
  margin: 0 0 10px 0;
}

.restaurant_view-imageSmall {
  margin-right: var(--paddings-l);
  width: 120px;
  overflow: hidden;
  height: 120px;
  border-radius: var(--border_radiuses-small);
}

.restaurant_view-imageSmall img {
  width: 100%;
  height: auto;
}