.review_block-block {
  display: flex;
  flex-direction: column;
}

.review_block-label {
  font-size: var(--font_sizes-s);
  margin-bottom: 5px;
  color: var(--colors-text_light);
}

.review_block-value {
  font-size: var(--font_sizes-s);
}