.search_input-input {
  -webkit-appearance: none;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  font-size: var(--font_sizes-l);
  font-family: Lato, Arial, sans-serif;
  line-height: 24px;
  margin-bottom: var(--paddings-s);
  border: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), inset 0 0 0 1px white;
  padding: 20px 25px;
  transition: box-shadow 250ms ease-out;
  outline: none;
}

.search_input-input:focus {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), inset 0 0 0 1px var(--colors-brand);
}